html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  transition: 0.3s;
}
.menuBtns {
  display: grid;  
  font-size: 65px;
  margin: auto;   
  margin-top: 90px;
  width: 500px;
  height: 90px;
}

#player {
  cursor: pointer;
  background-color: black;
  width: 150px;
  height: 150px;
  position: absolute;
  top: 40%;
  left: 40%;
  border-radius: 50%;
}


.x {
  color: red;
  cursor: pointer;
  position: absolute;
  top: 0%;
  left: 85%;
}

#x {
  color: red;
  cursor: pointer;
  position: absolute;
  top: 0%;
  left: 85%;
  font-size: 65px;
  font-family: "Lucida Console", "Courier New", monospace;
}

#statsTxt {
  text-transform: uppercase;
  font-family: "Lucida Console", "Courier New", monospace;
  text-align: center;
}

#enemy {
  cursor: pointer;
  background-color: red;
  width: 150px;
  height: 150px;
  position: absolute;
  top: 40%;
  left: 40%;
  border-radius: 50%;
}

.block {
  image-rendering: pixelated;
  width: 200;
  height: 200px;
  position: absolute;
  top: 80%;
  box-shadow: 20px 20px 50px grey;
}

#mine {
  display: none;
  left: 15%
}

#furn {
  display: none;
  left: 45%
}

#chest {
  display: none;
  left: 75%;
  
}