html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  transition: 0.3s;
}

#newGame {
  display: grid;  
  font-size: 65px;
  margin: auto;   
  margin-top: 90px;
  width: 500px;
  height: 90px;
}
#continue {
  display: grid;  
  font-size: 65px;
  margin: auto;  
  margin-top: 50px;
  width: 500px;
  height: 90px;
}
#saveGame {
  display: grid;  
  font-size: 65px;
  margin: auto;  
  margin-top: 50px;
  width: 500px;
  height: 90px;
}
#optGame {
  display: grid;  
  font-size: 65px;
  margin: auto;  
  margin-top: 50px;
  width: 500px;
  height: 90px;
}

#menuButton {
  font-size: 80px;
  transition: 0.1s;
  cursor: pointer;
  position: absolute;
  top: -5%;
  left: 2%;
}

#menu {
  display: none;
}


#statsButton {
  font-size: 65px;
  cursor: pointer;
  position: absolute;
  top: 10%;
  left: 1.5%;
  transition: 0.1s;
}

#stats {
  font-size: 65px;
  display: none;
  font-family: "Lucida Console", "Courier New", monospace;
}

#player {
  cursor: pointer;
  background-color: black;
  width: 150px;
  height: 150px;
  position: absolute;
  top: 40%;
  left: 40%;
  border-radius: 50%;
}

#game {
  display: none;
}

.x {
  color: red;
  cursor: pointer;
  position: absolute;
  top: 0%;
  left: 85%;
}

#x {
  color: red;
  cursor: pointer;
  position: absolute;
  top: 0%;
  left: 85%;
  font-size: 65px;
  font-family: "Lucida Console", "Courier New", monospace;
}

#moneyTxt {
  text-transform: uppercase;
  font-family: "Lucida Console", "Courier New", monospace;
  text-align: center;
}

#enemy {
  cursor: pointer;
  background-color: red;
  width: 150px;
  height: 150px;
  position: absolute;
  top: 40%;
  left: 40%;
  border-radius: 50%;
}

